.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 100px;
}
.nav-items > ul{
    display: flex;
    padding-right: 25px;
    padding-top: 8px;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    font-size: 20px;

}
.res-card{
    padding: 5px;
    width: 200px;
    
    background-color: #f0f0f0;

}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px;
}

.res-logo{
    width: 100%;
    height: 50%;
    
    
}
.res-container{
    display: flex;
   
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
    
}